:root{
  --font-family-main: 'SF Pro Text';
  --font-family-ui: 'Inter';

  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 22px;
  --font-size-xxl: 32px;

  --primary-color: #FF7010;
  --white: #ffffff;
  --bg-gray: #f9f9f9;
  --line-gray: #F0F0F0;
  --black: #191919;
  --gray-text: #a5a5a5;
  --red: #e23535;
  --green: #24d17e;
  --light-primary: #ffeee2;
}
