@font-face {
  font-family: 'SF Pro Text';
  src: url("shared/assets/fonts/SFProText/SFProText-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url("shared/assets/fonts/SFProText/SFProText-Semibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url("shared/assets/fonts/SFProText/SFProText-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("shared/assets/fonts/Inter/Inter-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("shared/assets/fonts/Inter/Inter-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
